In [11]:
import pandas as pd

daily_df = pd.read_csv("data/daily_report.csv")

countries_df = daily_df[["Country_Region","Confirmed","Deaths","Recovered"]]
countries_df = countries_df.groupby("Country_Region").sum().reset_index()

countries_df

         Country_Region  Confirmed  Deaths  Recovered
0           Afghanistan     147154    6708    82586.0
1               Albania     133081    2457   130222.0
2               Algeria     171392    4254   115276.0
3               Andorra      14678     128    14210.0
4                Angola      42777    1011    37255.0
..                  ...        ...     ...        ...
191             Vietnam     150060    1306    38734.0
192  West Bank and Gaza     316738    3603   311832.0
193               Yemen       7061    1375     4185.0
194              Zambia     195816    3389   187236.0
195            Zimbabwe     108860    3532    75856.0

[196 rows x 4 columns]