In [28]:
import pandas as pd

daily_df = pd.read_csv("data/daily_report.csv")

daily_df = daily_df[["Country_Region","Confirmed","Deaths","Recovered"]]

daily_df = daily_df.groupby("Country_Region").sum().reset_index()

daily_df

         Country_Region  Confirmed  Deaths  Recovered
0           Afghanistan     158205    7365        0.0
1               Albania     212021    3224        0.0
2               Algeria     219953    6303        0.0
3               Andorra      24802     141        0.0
4                Angola      84666    1778        0.0
..                  ...        ...     ...        ...
191             Vietnam    1800704   33245        0.0
192  West Bank and Gaza     471090    4947        0.0
193               Yemen      10143    1984        0.0
194              Zambia     265479    3762        0.0
195            Zimbabwe     217678    5078        0.0

[196 rows x 4 columns]