In [2]:
import pandas as pd

conditions = ["confirmed", "deaths", "recovered"]

def make_global_df(condition):
    df = pd.read_csv(f"data/time_{condition}.csv")
    df = df.drop(["Province/State","Country/Region", "Lat", "Long"], axis=1).sum().reset_index(name=f"{condition}")
    df = df.rename(columns={'index':"date"})
    return df

final_df = None

for condition in conditions:
    condition_df = make_global_df(condition)
    if final_df is None:
        final_df = condition_df
    else:
        final_df = final_df.merge(condition_df)

final_df

         date  confirmed   deaths  recovered
0     1/22/20        557       17         30
1     1/23/20        655       18         32
2     1/24/20        941       26         39
3     1/25/20       1434       42         42
4     1/26/20       2118       56         56
..        ...        ...      ...        ...
708  12/30/21  286503512  5430211          0
709  12/31/21  288194306  5436594          0
710    1/1/22  289279739  5440522          0
711    1/2/22  290139776  5443578          0
712    1/3/22  292539411  5449423          0

[713 rows x 4 columns]